@import "tailwindcss";
@config "../tailwind.config.js"; /* Adjust path as needed */

:root {
  --root-background: #ffd7a8;
  --background: #ffebd3;
  --foreground: #171717;
  --color-primary: #4b8b74;
  --color-text-primary: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --root-background: #000000;
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #ff6900;
    --color-text-primary: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
